body {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

.header {
  background-color: #ececec;
  color: #212121;
  font-weight: 500;
  font-size: 14;
  line-height: 16;
}

.header-link-item:hover,
.header-link-item:focus {
  color: #2196f3;
}

.header-contact {
  color: #757575;
  font-size: 14;
  line-height: 16;
  font-weight: 500;
}

.header-contact-item:hover,
.header-contact-item:focus {
  color: #2196f3;
}

.button-link {
  background-color: #f5f4fa;
  color: #212121;
  font-size: 16;
  line-height: 26;
  font-weight: 500;
}
.link :hover,
.link :focus {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-size: 14;
  line-height: 24;
  font-weight: 400;
}

.footer-item:hover,
.footer-item:focus {
  color: #2196f3;
}

a {
  text-decoration: none;
}
