body {
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #ececec;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14;
  line-height: 16;
}

.header-link-item:hover {
  color: #2196f3;
}

.header-contact {
  color: #757575;
  font-style: normal;
  font-size: 14;
  line-height: 16;
  font-weight: 500;
}

.header-contact-item:hover {
  color: #2196f3;
}

.button-main {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  font-style: normal;
  font-size: 16;
  line-height: 26;
  font-weight: 500;
}

.link :hover {
  color: #2196f3;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  font-style: normal;
  font-size: 14;
  line-height: 24;
  font-weight: 400;
}

.footer-item:hover {
  color: #2196f3;
}
